body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0px 0px;
    border: 0px;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: tomato;
}

.navbar-brand {
    color: tomato
}

.main-slide-images {
    height: auto;
}

.main-topic {
    color: tomato;
}

h1 {
    color: tomato;
    font-size: 35px;
    text-align: center;
    font-family: cursive;
}

h2 {
    color: white;
    font-size: 20px;
    text-align: center;
}

h3 {
    color: rgb(35, 0, 176);
    font-size: 20px;
    text-align: center;
}

h4 {
    color: gray;
    font-size: 10px;
    text-align: center;

}

h5 {
    color: black;
    font-size: 15px;
    text-align: center;
}

h6 {
    color: gray;
    font-size: 10px;
    text-align: center;

}




.footer {
    color: aliceblue;
    text-align: center;
}


.static {
    background-color: rgb(0, 0, 40);
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    /* word-wrap: break-word; */
    background-color: var(--bs-card-bg);
    /* background-clip: border-box; */
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-bottom: 5px solid rgb(0, 0, 255);
    border-radius: 0px;

}

.sign_in_button {
    padding-left: 75px;
    padding-right: 75px;
}

.footer_details {
    background-color: rgb(0, 24, 28);
    padding-top: 50px;
    padding-bottom: 50px;

}


.footertitle {
    text-align: left;
    color: #ffffff;
    font-size: 16px;

}

.footersub {
    text-align: left;
    color: #ffffff;
    font-size: 12px;


}

.fa {
    color: orangered;
}

.Copyright {
    height: auto;
    font-size: 0.8rem;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}